{% extends 'base.html' %}
{% block content %}
<h1>Welcome to Football Shop!</h1>

<p>Nama: {{ name }}</p>
<p>Kelas: {{ class }}</p>

{% if username %}
    <p>Halo, {{ username }}!</p>
    <p>Last login: {{ last_login }}</p>
    <a href="{% url 'authentication:logout' %}">Logout</a>
{% else %}
    <a href="{% url 'authentication:login' %}">Login</a>
{% endif %}

<h2>Daftar Produk</h2>

<a href="{% url 'main:create_product' %}"><button>+ Tambah Produk</button></a>
<hr>

{% if not products %}
  <p>Belum ada produk tersedia.</p>
{% else %}
  {% for product in products %}
    <div>
      <h3>{{ product.name }} ({{ product.brand }})</h3>
      <p><b>{{ product.name }}</b></p>
      <p>Harga: Rp {{ product.price }}</p>
      <p>Kategori: {{ product.category }}</p>
      <p>Deskripsi: {{ product.description|truncatewords:20 }}</p>
      <p>Stok: {{ product.quantity }}</p>
      <p>Created by: {{ product.user.username }}</p>
      {% if product.is_featured %}
        <p>⭐ Produk Unggulan!</p>
      {% endif %}
      <p><a href="{% url 'main:show_product' product.id %}"><button>Detail</button></a></p>
    </div>
    <hr>
  {% endfor %}
{% endif %}
{% endblock %}
